{% extends "layout.jinja2" %}

{% block content %}

    {% if paginator.items %}

        <h2>Result entries</h2>

        <ul>
            {% for entry in paginator.items %}
                <li>
                    <a href="{{ request.route_url('blog', id=entry.id, slug=entry.slug) }}">
                        {{ entry.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {{ paginator.pager() |safe }}

    {% else %}

        <p>No result entries found.</p>

    {% endif %}

    <p><a href="{{ request.route_url('main') }}">
        Main</a></p>

{% endblock %}